* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --background-color-heder: #3161E0;
    --text-color: white;
    --text-color-normal: black;
}

header {
    background-color: var(--background-color-heder);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60rem;
}

.logo {
    color: var(--text-color);
    width: 25%;
    /* border: 1px dashed black; */
    background-color: var(--background-color-heder);
    display: flex;
    align-items: center;
}

li {
    padding: 10px;
}

.link {
    color: var(--text-color);
    width: 50%;
    /* border: 1px dashed black; */
    background-color: var(--background-color-heder);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.login {
    color: var(--text-color-normal);
    width: 25%;
    /*  border: 1px dashed black; */
    background-color: var(--background-color-heder);
    text-align: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    span {
        background-color: var(--text-color);
        border-radius: 20px;
        align-items: center;
        padding: 5px 12px;
        font-size: 12px;
    }
}

img {
    max-width: 100%;

}

.uno {
    height: 20rem;
    background-color: #00008B;
    padding: 20px;
    background-image: url(img/jumbo.png);
    background-size: cover;
}


.rosa {
    width: 45rem;
    padding: 20px;
    /* background-color: #EE82EE; */
    margin: 0 auto;
    height: 100%;
    align-self: center;
    /* border: 2px dashed black; */
    text-align: center;
    color: var(--text-color);
    text-align: center;

    h1 {
        margin: 40px 0 20px;
        align-items: cneter;
    }

    p {
        margin: 0 30px;
        display: flex;
        align-items: center;
    }

    .utili {
        margin: 10px;
        display: flex;
        justify-content: center;

        .scarica {
            background-color: var(--text-color);
            color: var(--text-color-normal);
            border-radius: 20px;
            padding: 5px 20px;
            margin: 20px 20px;
        }

        .aprimi {
            background-color: var(--text-color-normal);
            color: var(--text-colorl);
            border-radius: 20px;
            padding: 8px 20px;
        }

        i {
            padding: 5px;

        }
    }

}

.due {
    height: 20rem;
    padding: 20px;
}

.due {
    height: 25rem;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.blue {
    width: 30rem;
    padding: 20px;
    /*  background-color: #1E90FF; */
    margin: 0;
    height: 100%;
    align-self: center;
    /*  border: 2px dashed black ;*/
}

.rosa1 {
    width: 20rem;
    padding: 20px;
    /*  background-color: #FFC0CB; */
    margin: 0;
    height: 100%;
    align-self: center;
    /* border: 2px dashed black; */
    text-align: left;

    h1 {
        padding: 0 35px 10px;
        font-size: 1.6rem;
    }

    p {
        padding: 10px 35px 10px;
        font-size: 0.9rem;
    }
}

.tre {
    background-color: #D3D3D3;
    height: 25rem;
    padding: 20px;
    margin-top: none;
    display: flex;
    justify-content: center;
}


.cinque {
    height: 45rem;
    background-color: #D3D3D3;
    padding: 20px;
}

.verde {
    width: 50rem;
    padding: 20px;
    /* background-color: #228B22; */
    margin: 0 auto;
    height: 100%;
    align-self: center;
    /* border: 2px dashed black; */
    text-align: center;

    p {
        padding: 10px 60px 0;
        text-align: center;
        font-size: 0.8rem;
    }

    h2 {
        /*  margin:30px ; */
        line-height:100px;
        background-image: url(img/stars.svg);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        width:70%;
        margin: 0  auto;
    }

    span{
        background-color: var(--text-color);
        color: var(--text-color-normal);
        border-radius: 20px;
        padding: 10px 20px;
        margin: 30px;
    }
}


.footer-1 {
    height: 40rem;
    background-color: #23272A;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.rosa-scuro {
    width: 16rem;
    height: 100%;
    padding: 20px;
    background-color: #F08080;
    margin: 0;
    align-self: center;
    border: 2px dashed white;
}

.celeste {
    width: 136px;
    height: 100%;
    padding: 20px;
    background-color: #20B2AA;
    margin: 0;
    align-self: center;
    border: 2px dashed white;
}

.last {
    height: 5rem;
    background-color: #23272A;
    display: flex;
    align-items: flex-end;
}

.last-uno {
    width: 50rem;
    height: 4rem;
    background-color: #7FFFD4;
    margin: 0 auto;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.last-due {
    width: 10%;
    border: 1px dashed black;
    background-color: #C9919A;
}

.last-tre {
    width: 10%;
    border: 1px dashed black;
    background-color: #C9919A;
}